In [8]:
import pandas as pd

In [9]:
import numpy as np
print(np.__version__)

1.22.3

In [5]:
import torch

In [10]:
print(torch.__version__)

2.2.0.dev20231104

In [14]:
test=[1,2]
print(test)
test=pd.read_csv ("/Users/e5028514/Desktop/norge/data_uk_11000.csv")

test.head()

[1, 2]

,provider_urn,full_address,lon,lat,in_uk
0,EY387612,"Abrahams Care Kids Club , Oasis Nursery Schoo...",0.012951,51.514910,yes
1,EY558541,"Tree Toppers , Willow Grange , Henry Street ...",-2.412384,53.766911,yes
2,EY550448,"The Boulevard , 22-23 The Boulevard , Lond...",-0.154696,51.440831,yes
3,2543456,"Dinotots Childcare , 14 Elliott Street , B...",-1.530657,55.112710,yes
4,EY560354,"Cold Ash Pre School , The Acland Memorial Hal...",-1.268113,51.430027,yes